@import '../../color.css';
.about_page_container{
    width: 80%;
    margin: 0px auto;
    padding: 50px 10px;
}
/* about page information */
.about_page_information:first-child{
    margin-top: 40px;
}
.about_page_information{
    width: 100%;
    margin-bottom: 50px;
}
.about_page_information_head{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}
.about_page_information_body{
    width: 100%;
}
/* information list */
.about_page_information_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--secondary-text-color);
}
.about_page_information_list li{
    width: 100%;
    padding: 10px 30px;
    position: relative;
}
.about_page_information_list li::before{
    content: '';
    width: 6px;
    height: 6px;
    border: 2px solid var(--page-text-slogan-color);
    border-radius: 6px;
    position: absolute;
    left: 10px;
    top: 13px;
}
@media (width <= 500px){
    .about_page_container{
        width: 90%;
    }
    .about_page_head{
        font-size: 20px;
    }
    .about_page_information_head{
        font-size: 16px;
    }
    .about_page_information_list li{
        padding: 10px 20px;
    }
    .about_page_information_list li::before{
        left: 5px;
    }
}
@media (width <= 350px){
    .about_page_container{
        width: 100%;
    }
    .about_page_information{
        margin-bottom: 20px;
    }
}