:root{
    --primary-color: #fff;
    --secondary-color: #40cb00;
    --tertiary-color: #2a8301;
    --quaternary-color: #45A6FF;
    --post-box-border-color: var(--quaternary-color);
    --location-pin-color: #eb0520;
    --post-end-time-color: #e4273e; 
    --post-box-detail-btn-hover: #3dbf00;
}
/* post box container */
.post_box_container{
    width: 100%;
    display: block;
    border: 1px solid var(--post-box-border-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    transition: 0.5s all;
    user-select: none;
    position: relative;
}
.post_box_link{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.post_box_container:hover{
    transform: scale(1.01);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    box-shadow: 0px 2px 2px var(--secondary-color);
    /* box-shadow: 0px 2px 2px var(--secondary-color); */
}
/* company name logo and save button */
.post_box_company_and_save_post_btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.post_box_company_logo_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 10;
}
/* company logo */
.post_box_company_logo{
    width: 40px;
    height: 40px;
    border: 1px solid var(--quaternary-color);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_box_company_logo img{
    width: 55%;
}
/* company name */
.post_box_company_name{
    margin-left: 10px;
    font-weight: 500;
    font-size: 17px;
}
/* job title and salary */
.post_box_job_title_and_salary{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 15px;
}
/* job title */
.post_box_job_title{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    color: var(--quaternary-color);
    margin-right: 20px;
}
.post_box_job_title svg{
    font-size: 20px;
    margin-right: 10px;
}
/* job salary */
.post_box_job_salary{
    font-size: 20px;
    font-weight: 500;
    color: var(--quaternary-color);
}
/* job location and time */
.job_location_and_time_type{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3px;
    padding: 0px 20px;
}
/* job location */
.post_box_job_location{
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin-right: 20px;
    font-weight: 500;
    font-size: 13px;
}
.post_box_job_location svg{
    font-size: 16px;
    color: var(--location-pin-color);
    margin-right: 5px;
}
/* job time type */
.post_box_job_time_type{
    /* padding: 2px 10px; */
    /* color: var(--quaternary-color); */
    /* border: 2px solid var(--quaternary-color); */
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
}
/* dates and statistics numbers and details button */
.post_dates_and_details_btn_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
/* post dates and statistics numbers */
.post_dates_and_statistics_numbers{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* post dates */
.post_box_dates_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.post_box_date{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 500;
}
.post_box_date svg{
    font-size: 15px;
    margin-right: 5px;
}
.post_box_start_date svg{
    color: var(--secondary-color);
}
.post_box_end_date svg{
    color: var(--post-end-time-color);
}
/* post statistics numbers */
.post_box_statistics_numbers_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.post_box_statistics_number{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    margin-right: 10px;
    font-weight: 500;
}
.post_box_statistics_number svg{
    font-size: 15px;
    margin-right: 3px;
}
/* post box detail button */
.post_box_details_btn{
    padding: 5px 30px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s all;
}
.post_box_details_btn:hover{
    background-color: var(--post-box-detail-btn-hover);
}
/* ______________ responsive _______________ */
@media (width <= 650px){
    .post_box_job_title, .post_box_job_salary{
        font-size: 18px;
    }
}
@media (width <= 550px){
    .post_box_container{
        width: 100%;
        margin: 0px auto 15px;
        padding: 10px
    }
    .post_box_company_logo{
        width: 35px;
        height: 35px;
        border-radius: 35px;
    }
    .post_box_job_title_and_salary{
        flex-direction: column;
        padding: 0px;
    }
    .post_box_job_title{
        margin-right: unset;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .post_box_job_salary{
        font-size: 18px;
    }
    .job_location_and_time_type{
        justify-content: center;
        margin-bottom: 10px;
    }
    .post_dates_and_details_btn_container{
        flex-direction: column;
        align-items: center;
    }
    .post_dates_and_statistics_numbers{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .post_box_dates_container{
        margin-bottom: 10px;
    }
    .post_box_details_btn{
        width: 60%;
        text-align: center;
    }
}
@media (width <= 400px){
    .post_box_details_btn{
        width: 100%;
    }
}