@import '../../../../color.css';
.c_p_total_applies_cont{
    width: 100%;
}
/* _________________- search form container _________________________ */
.c_p_total_applies_Search_form_and_new_cont{
  width: 80%;
  max-width: 600px;
  margin: 10px auto 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* search form  */
.c_p_total_applies_Search_form{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--form-inputs-border-color);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--primary-color);
}
/* form input */
.c_p_total_applies_Search_form_input{
  width: 90%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  background-color: var(--primary-color);
}
/* form submit */
.c_p_total_applies_Search_form_sbmt{
  width: 37px;
  height: 30px;
  background-color: var(--accent-color);
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 13%;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease all;
}
.c_p_total_applies_Search_form_sbmt svg{
  font-size: 18px;
  color: var(--primary-color);
}
.c_p_total_applies_Search_form_sbmt:hover{
  background-color: var(--accent-hover);
}
/* filter button and link container */
.c_p_total_applies_Search_form_flt_btn_and_link{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}
/* filter open button */
.c_p_total_applies_Search_form_open_filters{
  background-color: transparent;
  padding: 9px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: 0.3s ease all;
  cursor: pointer;
}
.c_p_total_applies_Search_form_open_filters svg{
  font-size: 19px;
  color: var(--accent-color);
  transition: 0.3s ease all;
}
.c_p_total_applies_Search_form_open_filters:hover{
  background-color: var(--accent-hover);
}
.c_p_total_applies_Search_form_open_filters:hover svg{
  color: var(--primary-color);
}
/* _______________  company page applies filters container __________________ */
.c_p_total_applies_filters_container{
  width: 95%;
  margin: 0px auto;
  /* height: 0px; */
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s ease all;
  overflow-y: auto;
  background-color: var(--primary-color);
}
.c_p_total_applies_filters_container::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
.c_p_total_applies_filters_container::-webkit-scrollbar-track {
  padding: 5px 0px;
  background-color: var(--main-border-color);
  border-radius: 5px;
}
.c_p_total_applies_filters_container::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: var(--page-text-slogan-color);
  transition: 0.3s ease all;
  cursor: pointer;
}
.c_p_total_applies_filters_container::-webkit-scrollbar-thumb:hover{
  background-color: var(--light-text-color);
}
.c_p_total_applies_filters_close{
  /* height: auto; */
  max-height: 300px;
  min-height: 200px;
  margin: 0px auto 50px;
  padding: 20px;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  box-shadow: var(--boxes-shadow-light);
}
/* filters list */
.c_p_total_applies_filters{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}
/* filters list item */
.c_p_total_applies_filters .c_p_total_applies_filters_list_item{
  /* width: 25%; */
  max-width: 250px;
  min-width: 200px;
  margin: 0px 10px 15px 0px; 
}
/* .c_p_total_applies_filters .c_p_total_applies_filters_list_item:nth-child(11), .c_p_total_applies_filters .c_p_total_applies_filters_list_item:nth-child(12){
  width: unset;
  max-width: unset;
  min-width: unset;
  margin-right: 20px; 
} */
/* __________________ CSS for Applies Table _________________________ */
/* loading */
.c_p_total_applies_loading_rotates{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.c_p_total_applies_loading_rot_icon{
  font-size: 40px;
  color: var(--accent-color);
  animation: loading_rotate 0.7s infinite linear;
}
.company_profile_total_applies_error{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}
.c_p_applies {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
}
.company_profile_main_window_full .c_p_applies{
    width: 100%;
    max-width: unset;
}
.c_p_applies_table {
    width: 100%;
    min-width: 100%;
    max-height: 80vh;
    padding: 0px 0px 5px 5px; 
    display: block;
    border-collapse: collapse;
    overflow: auto;
    /* background-color: var(--primary-color); */
}
.c_p_applies_table::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
.c_p_applies_table::-webkit-scrollbar-track {
  padding: 5px 0px;
  background-color: var(--main-border-color);
  border-radius: 5px;
}
.c_p_applies_table::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: var(--page-text-slogan-color);
  transition: 0.3s ease all;
  cursor: pointer;
}
.c_p_applies_table::-webkit-scrollbar-thumb:hover{
  background-color: var(--light-text-color);
}
.c_p_applies_table tbody{
  display: table;
  background-color: var(--primary-color);
  width: 100%;
}
.c_p_applies_table tr{
    transition: 0.3s ease all;
}
.c_p_applies_table tbody tr{
    border-bottom: 1px solid var(--main-border-color);
}
.c_p_applies_table th, .c_p_applies_table td {
    padding: 12px;
    text-align: center;
    min-width: 200px;
    max-width: 200px;
    font-size: 14px;
}
.c_p_applies_table th {
    background-color: var(--company-menu-active);
    color: var(--secondary-text-color);
    border-top: none;
    text-transform: uppercase;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    user-select: none;
    letter-spacing: 1px;
}
.c_p_applies_table th:first-child{
  min-width: 100px;
  max-width: 100px;
}
.c_p_applies_table td:first-child{
  min-width: 100px;
  max-width: 100px;
}
.c_p_applies_table th:last-child{
    min-width: 300px;
}
.c_p_applies_table td:last-child{
    min-width: 300px;
}
.c_p_applies_table tbody tr:nth-child(even) {
    background-color: var(--company-menu_bg-color);
}

.c_p_applies_table tbody tr:hover {
    background-color: var(--company-menu-active);
    cursor: pointer;
}
.c_p_open_cv{
  padding: 6px 12px;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0px 10px 0px 0px;
  transition: 0.3s ease all;
  font-weight: 500;
}
.c_p_open_cv:hover{
  background-color: var(--accent-hover);
}
.c_p_apply_status{
  background-color: var(--main-border-color);
  display: inline-block;
  padding: 6px 12px;
  border-radius: 10px;
  color: var(--primary-color);
  font-weight: 500;
}
.c_p_apply_status_pending{
  background-color: rgb(255, 196, 0);
}
.c_p_apply_status_accepted{
  background-color: var(--form-psw-ch-color);
}
.c_p_apply_status_rejected{
  background-color: var(--notification-count-color);
}
.c_p_apply_status_thinking{
  background-color: var(--copyright-box-bg-color);
}
.applies_manage{
    /* display: flex;
    flex-direction: column; */
}
.c_p_action_button {
  padding: 6px 12px;
  /* background-color: #4356ff; */
  /* color: #fff; */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0px 10px 0px 0px;
  transition: 0.3s ease all;
  font-weight: 500;
}
.cancel-button{
    background-color: var(--primary-color);
    color: var(--dashboard-overview-decrease-color);
    border: 1px solid var(--dashboard-overview-decrease-color);
}
.cancel-button:hover{
    color: var(--primary-color);
    background-color: var(--dashboard-overview-decrease-color);
}
.select-button{
    background-color: var(--primary-color);
    color: var(--form-psw-ch-color);
    border: 1px solid var(--form-psw-ch-color);
}
.select-button:hover{
    background-color: var(--form-psw-ch-color);
    color: var(--primary-color);
}
.interview-button{
    background-color: var(--accent-color);
    color: var(--primary-color);
}
.interview-button:hover{
    background-color: var(--accent-hover);
}
/* cv modal  */
.c_p_total_applies_CV_mod_cont{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background-color: var(--modal-bg-color);
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c_p_total_applies_CV_mod{
  width: 90%;
  max-width: 1200px;
  max-height: 95vh;
  /* margin: 100px auto; */
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
/* modal close */
.c_p_total_applies_CV_mod_header{
  padding: 10px;
  position: sticky;
  top: 5px;
  right: 10px;
  margin-bottom: 10px;
}
.c_p_total_applies_CV_mod_header svg{
  font-size: 25px;
  color: var(--light-text-color);
  transition: 0.3s ease all;
  cursor: pointer;
}
.c_p_total_applies_CV_mod_header:hover svg{
  color: var(--secondary-text-color);
} 
/* modal body */
.c_p_total_applies_CV_mod_body{
  max-height: 85vh;
  overflow-y: auto;
}
.think-button{
  background-color: var(--primary-color);
  color: var(--copyright-box-bg-color);
  border: 1px solid var(--copyright-box-bg-color);
}
.think-button:hover{
  background-color: var(--copyright-box-bg-color);
  color: var(--primary-color);
}
@media (width <= 1380px){
  .c_p_applies{
    max-width: unset;
  }
}
@media (width <= 750px){
  .c_p_total_applies_Search_form_and_new_cont{
    width: 100%;
    max-width: unset;
  }
}
@media (width <= 550px){
  .c_p_total_applies_Search_form_and_new_cont{
    width: 100%;
    max-width: unset;
    flex-direction: column;
    align-items: flex-start;
  }
  .c_p_total_applies_Search_form{
    margin-bottom: 20px;
  }
  .c_p_total_applies_Search_form_flt_btn_and_link{
    width: 100%;
    margin-left: 0px;
    justify-content: space-between;
  }
}