@import "../../color.css";
.page_top_button{
    transition: 0.5s all;
    position: fixed;
    z-index: 998;
    bottom: 40px;
    right: 30px;
    background-color: var(--accent-color);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.page_top_button svg{
    font-size: 30px;
    color: var(--primary-color);
}
.page_top_button:hover{
    transform: scale(1.15);
    background-color: var(--accent-hover);
}
.page_top_button_none{
    display: none;
}