@import '../../color.css';
/* login form container */
.login_Form{
    width: 100%;
    position: relative;
    border-radius: 10px;
}
.login_page_form{
    width: 100%;
    padding: 20px;
}
.login_Form_label_input{
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    margin-bottom: 20px;
}
.login_Form_label_input label{
    font-size: 16px;
    position: relative;
}
.login_Form_label_input label::after{
    position: absolute;
    content: '*';
    right: -10px;
    top: 3px;
    color: var(--clock-end-color);
}
.login_Form_label_input:nth-child(2){
    margin-bottom: 5px;
}
.login_email_input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--form-inputs-border-color);
    border-radius: 5px;
    margin-top: 3px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}
/* password input and show hide button container */
.login_password_container{
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    border: 1px solid var(--form-inputs-border-color);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--primary-color);
}
.login_password_input{
    width: 90%;
    font-size: 16px;
    margin-right: 8px;
    border: none;
    outline: none;
    color: var(--secondary-text-color);
}
/* passsword show hide button */
.login_password_show_btn svg{
    font-size: 16px;
    cursor: pointer;
    color: var(--light-text-color);
}
/* form error message */
.login_form_error_message{
    font-size: 13px;
    color: red;
}
/* login form forgot password button */
.login_form_forgot_password_btn{
    font-size: 14px;
    text-decoration: underline;
    margin-top: 10px;
    background: transparent;
    border: none;
    color: var(--accent-color);
    cursor: pointer;
    user-select: none;
}
/* form submit button */
.login_form_submit_btn{
    width: 100%;
    display: block;
    margin: 40px 0px 0px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 10px 30px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    opacity: 0.5;
}
.login_form_submit_btn_ready{
    opacity: 1;
}
.login_form_link_to_signUp_container{
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}
.login_form_link_to_signUp{
    width: 100%;
    /* display: block; */
    margin-top: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    padding: 10px 30px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: 0.3s all;
}
.login_form_link_to_signUp:hover{
    background-color: var(--accent-color);
    color: var(--primary-color);
}