@import "../../color.css";
.page_head_text_container{
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;
    background-color: var(--secondary-color);
    color: var(--main-text-color);
    user-select: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    box-shadow: var(--boxes-shadow-light);
}
@media (width <= 550px){
    .page_head_text_container{
        font-size: 17px;
        letter-spacing: 2px;
    }
}