:root{
    --primary-color: #fff;
    --secondary-color: #40cb00;
    --tertiary-color: #2a8301;
    --quaternary-color: #45A6FF;
}
.page_head_text_container{
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    user-select: none;
    letter-spacing: 5px;
    text-transform: uppercase;
}
@media (width <= 400px){
    .page_head_text_container{
        font-size: 18px;
        letter-spacing: 2px;
    }
}