:root{
    --primary-color: #fff;
    --secondary-color: #40cb00;
    --tertiary-color: #2a8301;
    --quaternary-color: #45A6FF;
    --black-color: #000;
}
@keyframes from_right_to_left{
    0%{
        right: -60%;
    }
    100%{
        right: 0%;
    }
}
@keyframes from_left_to_right{
    0%{
        right: 0%;
    }
    100%{
        right: -60%;
    }
}
/* otp form */
.send_top_form_container{
    width: 100%;
    /* height: 100%; */
    position: relative;
    /* z-index: 11;
    top: 0px; */
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    /* box-shadow: 0px 2px 2px 1px rgb(0,0,0, 0.3); */
    padding: 40px 20px;    
}
.send_top_form_container_signup{
    height: unset;
    position: relative;
    /* position: unset; */
}
.send_top_form_open_animation{
    animation: 1s from_right_to_left;
}
.send_top_form_close_animation{
    animation: 0.5s from_left_to_right;
}
.send_top_form{
    width: 100%;
    /* margin-top: 50px; */
}
.send_top_form label{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--quaternary-color);
}
/* error message */
.send_otp_form_error_message{
    font-size: 15px;
    color: red;
    margin-bottom: 15px;
}
/* otp form input */
.send_top_form_input{
    padding: 10px;
    outline: none;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin-top: 3px;
    font-size: 16px;
}
.count_Down_Otp{
    font-size: 15px;
    text-align: center;
    color: red;
    font-weight: 500;
}
.send_otp_again_btn{
    width: 40%;
    min-width: 160px;
    display: block;
    margin: 20px auto 0px;
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}
.send_otp_form_submit_btn_container{
    width: 50%;
    min-width: 130px;
    margin: 20px auto 0px;
    position: relative;
}
.send_otp_form_submit{
    width: 100%;
    display: block;    
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 30px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    opacity: 0.5;
}
.send_otp_form_submit_ready{
    opacity: 1;
}
/* loading animation on form submit button */
.send_otp_form_submit_btn_loader{
    position: absolute;
    top: 11px;
    left: 30px;
    width: 20px;
    height: 20px;
    z-index: 1;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-left: 2px solid var(--secondary-color);
    border-radius: 50%;
    animation: form_submit_spinner 1s linear infinite;
}
@keyframes form_submit_spinner{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@media (width <= 500px){
    .send_top_form_container{
        padding: 20px;
    }
    .send_otp_form_submit{
        width: 100%;
        font-size: 16px;
    }
}