:root{
    --primary-color: #fff;
    --secondary-color: #40cb00;
    --tertiary-color: #2a8301;
    --quaternary-color: #45A6FF;
    --black-color: #000;
}
@keyframes from_right_to_left{
    0%{
        right: -60%;
    }
    100%{
        right: 0%;
    }
}
@keyframes from_left_to_right{
    0%{
        right: 0%;
    }
    100%{
        right: -60%;
    }
}
/* otp form */
.send_top_form_container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11;
    top: 0px;
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    padding: 20px;    
}
.send_top_form_container_signup{
    height: unset;
    position: relative;
    /* position: unset; */
}
.send_top_form_open_animation{
    animation: 1s from_right_to_left;
}
.send_top_form_close_animation{
    animation: 0.5s from_left_to_right;
}
.send_top_form{
    width: 100%;
    margin-top: 50px;
}
.send_top_form label{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--quaternary-color);
}
/* error message */
.send_otp_form_error_message{
    font-size: 15px;
    color: red;
    margin-bottom: 15px;
}
/* otp form input */
.send_top_form_input{
    padding: 10px;
    outline: none;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin-top: 3px;
    font-size: 16px;
}
.count_Down_Otp{
    font-size: 15px;
    text-align: center;
    color: var(--quaternary-color);
    font-weight: 500;
}
.send_top_form_submit{
    width: 50%;
    min-width: 130px;
    display: block;
    margin: 40px auto 0px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 30px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
@media (width <= 500px){
    .send_top_form_container{
        padding: 10px;
    }
    .send_top_form_submit{
        width: 100%;
        font-size: 16px;
    }
}