@import '../../color.css';
.company_signup_container{
    width: 100%;
    position: relative;
}
.company_signup_form_container{
    padding: 10px;
}
.company_signup_form_label_input{
    width: 100%;
    margin-bottom: 20px;
}
.company_signup_form_label_input label{
    position: relative;
}
.company_signup_form_label_input label::after{
    position: absolute;
    content: '*';
    right: -10px;
    top: 3px;
    color: var(--clock-end-color);
}
.company_signup_form_label_input input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--form-inputs-border-color);
    border-radius: 5px;
    margin-top: 3px;
    font-size: 16px;
}
/* password */
.company_signup_form_password_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3px;
    border: 1px solid var(--form-inputs-border-color);
    border-radius: 5px;
    padding: 9.5px 10px;
    background-color: var(--primary-color);
}
.company_signup_form_password_container .company_signup_form_password_input{
    width: 90%;
    font-size: 16px;
    margin-right: 8px;
    border: none !important;
    outline: none;
    padding: 0px;
    margin-top: unset;
    background-color: var(--primary-color);
}
.company_signup_form_password_show_btn svg{
    font-size: 16px;
    cursor: pointer;
    color: var(--light-text-color);
}
.company_signup_form_error_message{
    font-size: 15px;
    color: red;
    font-weight: 500;
    margin-top: 20px;
}
/* condition button container */
.company_signup_form_condition_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    user-select: none;
}
.company_signup_form_condition_button{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: 2px solid red;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}
.company_signup_form_condition_button_accepted{
    border: 2px solid var(--checkbox-accept-color);
    background-color: var(--checkbox-accept-color);
}
.company_signup_form_condition_button_checkmark::after{
    content: '';
    position: absolute;
    top: 1px;
    left: 6px;
    width: 6px;
    height: 13px;
    border-bottom: 3px solid var(--primary-color);
    border-right: 3px solid var(--primary-color);
    transform: rotate(45deg);
}
.company_signup_form_checkbox_text{
    font-size: 15px;
    color: var(--secondary-text-color);
}
/* show condition button */
.company_signup_form_checkbox_condition{
    color: var(--main-text-color);
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}
.company_signup_form_btn_info{
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    color: var(--light-text-color);
}
.company_signup_form_submit{
    width: 100%;
    display: block;
    margin-top: 20px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 10px 30px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    opacity: 0.5;
}
.company_signup_form_submit_ready{
    opacity: 1;
}
.company_signup_link_to_login_page{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 15px;    
    /* font-weight: 500; */
    display: flex;
    flex-direction: column;
}
.company_signup_link_to_login_page a{
    width: 100%;
    display: block;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    text-align: center;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.3s all;
}
.company_signup_link_to_login_page a:hover{
    background-color: var(--accent-color);
    color: var(--primary-color);
}
.company_signup_form_condition_content_head{
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}
.company_signup_form_condition_content{
    width: 100%;
    text-align: justify;
    font-size: 14px;
    margin-top: 50px;
    color: var(--secondary-text-color);
}
.company_signup_form_condition_close{
    font-size: 16px;
    /* color: var(--quaternary-color); */
    margin-top: 10px;
    font-weight: 500;
    cursor: pointer;
}
@media (width <= 500px){
    .company_signup_form_submit{
        width: 100%;
        font-size: 16px;
    }
}