.home_page_container{
    width: 100%;
}
.latest_jobs_container{
    width: 60%;
    margin: 100px auto 0px;
}
/* responsive */
@media (width <= 1024px){
    .latest_jobs_container{
        width: 70%;
    }
}
@media (width <= 850px){
    .latest_jobs_container{
        width: 90%;
        margin-top: 50px;
    }
}
/* @media (width <= 650px){
    .latest_jobs_container{
        width: 60%;
        min-width: 330px;
    }
} */
@media (width <= 400px){
    .latest_jobs_container{
        width: 90%;
        min-width: unset;
    }
}