/* LoadingSpinner.css */

.loading-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo-spin {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    margin-bottom: 16px; /* Adjust the margin as needed */
  }
  
  .loading-text-spin {
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold;
  }
  
  .page_loading_rotates{
    font-size: 70px;
    color: blue;
    margin-top: 10px;
    animation: loading_rotate 0.7s infinite linear;
}
@keyframes loading_rotate{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}