@import '../../color.css';
/* post save button */
.post_box_save_button{
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.post_box_save_button svg{
    font-size: 22px;
    color: var(--secondary-text-color);
}
@media (width <= 650px){
    .post_box_save_button svg{
        font-size: 20px;
    } 
}