@import '../../../color.css';
.company_profile_main_window_container{
    width: 80%;
}
.company_profile_main_window_full{
    width: 100%;
}
/* company profile header */
.company_profile_main_window_header{
    width: 100%;
    padding: 20px 30px;
    box-shadow: var(--boxes-shadow-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: first baseline;
    flex-wrap: wrap;
    position: sticky;
    z-index: 999;
    top: 0px;
    background-color: var(--primary-color);
}
.company_profile_main_window_header_menubar_and_back_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}
.company_profile_main_window_header_menubar{
    margin-right: 30px;
    cursor: pointer;
}
.company_profile_main_window_header_menubar svg{
    font-size: 20px;
    color: var(--main-text-color);
}
.company_profile_main_window_header_menubar_hide{
    display: none;
}
/* header link */
.company_profile_main_window_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--secondary-text-color);
}
/* header link icon */
.company_profile_main_window_link svg{
    margin-right: 10px;
    font-size: 20px;
    color: var(--light-text-color);
}
/* message and notify buttons */
.comp_pro_main_wndw_header_msg_and_notify_btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
/* header button container */
.comp_pro_main_wndw_header_btn{
    position: relative;
    cursor: pointer;
}
.comp_pro_main_wndw_header_btn svg{
    font-size: 25px;
    color: var(--light-text-color);
    user-select: none;
}
.comp_pro_main_wndw_header_btn:first-child{
    margin-right: 20px;
}
.comp_pro_main_wndw_header_btn_count{
    position: absolute;
    top: -2px;
    right: -7px;
    width: 16px;
    height: 16px;
    background-color: var(--notification-count-color);
    color: var(--primary-color);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 500;
    user-select: none;
}
.company_profile_nested_windows{
    width: 100%;
    padding: 30px 20px;
    overflow: hidden;
}
@media (width <= 1380px){
    .company_profile_main_window_container{
        width: 100%;
    }
    .company_profile_main_window_header_menubar_hide{
        display: block;
    }
}