:root{
    --primary-color: #fff;
    --secondary-color: #40cb00;
    --tertiary-color: #2a8301;
    --quaternary-color: #45A6FF;
    --post-box-border-color: var(--quaternary-color);
    --location-pin-color: #eb0520;
    --post-end-time-color: #e4273e; 
    --post-box-detail-btn-hover: #3dbf00;
}
.companies_page_slider_and_search{
    width: 100%;
    position: relative;
}
/* slider core */
.companies_page_slider_core{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.companies_page_job_search_container{
    width: 100%;
    height: 50%;
    background-color: var(--secondary-color);
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* job search form  */
.companies_page_job_search_form{
    width: 80%;
    max-width: 600px;
    /* margin: 0px auto; */
    position: relative;
}
/* job search form input */
.companies_page_job_search_form input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}
.companies_page_job_search_form_submit{
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 12px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.companies_page_job_search_form_submit svg{
    font-size: 18px;
    color: var(--tertiary-color);
}
/* company filters and companies */
.companies_page_filter_and_companies{
    width: 95%;
    margin: 50px auto 100px;
    display: flex;
    flex-direction: row;
}
/* company page filters */
.companies_page_filter{
    width: 25%;
    min-width: 230px;
    padding: 10px 25px 10px 10px;
}
.companies_page_filter_container{
    width: 100%;
    padding: 0px 10px 10px 10px;
}
.companies_page_filters_fix_position{
    position: sticky;
    top: 100px;
    overflow-y: auto;
    max-height: 70vh;
    padding-bottom: 20px;
}
.companies_page_filters_fix_position::-webkit-scrollbar{
    width: 5px;
}
.companies_page_filters_fix_position::-webkit-scrollbar-track {
    padding: 5px 0px;
}
.companies_page_filters_fix_position::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: var(--secondary-color);
}
.companies_page_filters_fix_position::-webkit-scrollbar-thumb:hover{
    background-color: var(--post-box-detail-btn-hover);
}
.companies_page_filter_name{
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--quaternary-color);
    font-weight: 600;
    margin-bottom: 10px;
}
.companies_page_filters_container{
    width: 100%;
    /* padding-right: 10px; */
    margin-bottom: 20px;
}
.companies_filters_confirm_and_reset_btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.companies_filters_reset_btn{
    width: 40%;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.3s ease all;
    text-align: center;
    user-select: none;
}
.companies_filters_confirm_btn{
    width: 55%;
    background-color: var(--secondary-color);
    outline: none;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 500;
    transition: 0.3s ease all;
    user-select: none;
}
.companies_filters_confirm_btn:hover, .companies_filters_reset_btn:hover{
    background-color: var(--post-box-detail-btn-hover);
    transform: scale(1.05);
    color: var(--primary-color);
    /* border: 1px solid var(--post-box-detail-btn-hover); */
}
/* company page post boxes */
.companies_page_commpany_boxes{
    width: 75%;
    padding: 10px;
}
.companies_page_commpany_boxes_container{
    width: 100%;
    padding: 30px 0px;
}
.companies_page_filters_mobile_close{
    display: none;
}
.companies_page_filters_button{
    display: none;
}
@media (width <= 800px){
    .companies_page_filter_and_companies{
        flex-direction: column;
    }
    .companies_page_filters_fix_position{
        position: static;
        top: unset;
        overflow-y: unset;
        max-height: unset;
        padding-bottom: unset;
    }
    .companies_page_commpany_boxes{
        width: 100%;
    }
    .companies_page_filters_button{
        display: flex;
        width: 110px;
        padding: 10px;
        border: 1px solid var(--secondary-color);
        border-radius: 10px;
        flex-direction: row;
        align-items: center;
        font-weight: 500;
        cursor: pointer;
        user-select: none;
        margin: 0px 0px 50px 10px;
    }
    .companies_page_filters_button svg{
        margin-right: 10px;
        font-size: 20px;
        color: var(--secondary-color);
    }
    .companies_page_filters_mobile_close{
        width: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 22px;
        cursor: pointer;
        transition: 0.1s all;
        margin-bottom: 10px;
    }
    .companies_page_filters_mobile_close svg{
        margin-right: 5px;
        font-size: 22px;
    }
    .companies_page_filters_mobile_close:hover{
        transform: scale(1.05);
    }
    .companies_page_filter_name{
        text-align: center;
    }
    .companies_page_filter{
        width: 100%;
        display: none;
    }
    @keyframes from_right_to_left{
        0%{
            right: -60%;
        }
        100%{
            right: 0%;
        }
    }
    .companies_page_filters_mobile{
        display: block;
        width: 100%;
        height: 100vh;
        padding: 30px;
        overflow-y: auto;
        position: fixed;
        background-color: var(--primary-color);
        top: 0px;
        left: 0px;
        z-index: 999;
        animation: left_to_right 0.5s;
    }
}
@media (width <= 500px){
    .companies_page_job_search_form{
        width: 95%;
    }
    .companies_page_job_search_form input{
        font-size: 15px;
        padding: 7px;
    }
    .companies_page_job_search_form input::placeholder{
        font-size: 12px;
    }
    .companies_page_job_search_form_submit{
        top: 9px;
    }
    .companies_page_job_search_form_submit svg{
        font-size: 16px;
    }    
}
@media (width <= 400px){
    .companies_page_job_search_container{
        height: 60%;
    }
    .companies_page_filter{
        padding: 30px 20px;
    }
    .companies_page_filters_mobile_close{
        font-size: 20px;
    }
}