@import '../../color.css';
.companies_page_slider_and_search{
    width: 100%;
    position: relative;
}
.companies_page_slogan{
    width: 95%;
    margin: 0px auto 50px;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: var(--page-text-slogan-color);
    text-transform: uppercase;
    user-select: none;
}
.companies_page_slogan span{
    font-size: 25px;
    color: var(--page-text-act-slogan);
}
.companies_page_job_search_container{
    width: 90%;
    max-width: 450px;
    margin: 0px auto;
}
/* job search form  */
.companies_page_job_search_form{
    width: 100%;
    position: relative;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    box-shadow: var(--boxes-shadow-dark);
    overflow: hidden;
}
/* job search form input */
.companies_page_job_search_form input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: var(--primary-color);
}
.companies_page_job_search_form_submit{
    width: 37px;
    height: 30px;
    background-color: var(--accent-color);
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 13%;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.companies_page_job_search_form_submit svg{
    font-size: 18px;
    color: var(--primary-color);
}
/* company filters and companies */
.companies_page_filter_and_companies{
    width: 95%;
    margin: 50px auto 100px;
    display: flex;
    flex-direction: row;
}
/* company page filters */
.companies_page_filter{
    width: 25%;
    min-width: 230px;
    padding: 10px 25px 10px 10px;
}
.companies_page_filter_container{
    width: 100%;
    padding: 0px 10px 10px 10px;
}
.companies_page_filters_fix_position{
    position: sticky;
    top: 100px;
    overflow-y: auto;
    max-height: 70vh;
    padding-bottom: 20px;
}
.companies_page_filters_fix_position::-webkit-scrollbar{
    width: 5px;
}
.companies_page_filters_fix_position::-webkit-scrollbar-track {
    padding: 5px 0px;
}
.companies_page_filters_fix_position::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: var(--page-text-slogan-color);
}
.companies_page_filters_fix_position::-webkit-scrollbar-thumb:hover{
    background-color: var(--light-text-color);
}
.companies_page_filter_name{
    width: 100%;
    font-size: 18px;
    letter-spacing: 2px;
    color: var(--main-text-color);
    font-weight: 500;
    margin-bottom: 10px;
}
.companies_page_filters_container{
    width: 100%;
    margin-bottom: 20px;
}
.companies_filters_confirm_and_reset_btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.companies_filters_reset_btn{
    width: 40%;
    border: 1px solid var(--main-text-color);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--main-text-color);
    cursor: pointer;
    transition: 0.3s ease all;
    text-align: center;
    user-select: none;
}
.companies_filters_confirm_btn{
    width: 55%;
    background-color: var(--accent-color);
    outline: none;
    cursor: pointer;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 500;
    transition: 0.3s ease all;
    user-select: none;
}
.companies_filters_reset_btn:hover{
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}
.companies_filters_confirm_btn:hover{
    background-color: var(--accent-hover);
}
/* company page post boxes */
.companies_page_commpany_boxes{
    width: 75%;
    padding: 10px;
}
.companies_page_commpany_boxes_container{
    width: 100%;
    padding: 30px 0px;
}
.companies_page_filters_mobile_close{
    display: none;
}
.companies_page_filters_button{
    display: none;
}
@media (width <= 800px){
    .companies_page_filter_and_companies{
        flex-direction: column;
    }
    .companies_page_filters_fix_position{
        position: static;
        top: unset;
        overflow-y: unset;
        max-height: unset;
        padding-bottom: unset;
    }
    .companies_page_commpany_boxes{
        width: 100%;
    }
    .companies_page_filters_button{
        display: flex;
        width: 110px;
        padding: 10px;
        border: 1px solid var(--accent-color);
        background-color: var(--primary-color);
        border-radius: 10px;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        user-select: none;
        margin: 0px 0px 50px 10px;
    }
    .companies_page_filters_button svg{
        margin-right: 10px;
        font-size: 20px;
        color: var(--accent-color);
    }
    .companies_page_filters_mobile_close{
        width: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        cursor: pointer;
        transition: 0.1s all;
        margin-bottom: 10px;
    }
    .companies_page_filters_mobile_close svg{
        margin-right: 5px;
        font-size: 20px;
    }
    .companies_page_filters_mobile_close:hover{
        transform: scale(1.05);
    }
    .companies_page_filter_name{
        text-align: center;
    }
    .companies_page_filter{
        width: 100%;
        display: none;
    }
    @keyframes from_right_to_left{
        0%{
            right: -60%;
        }
        100%{
            right: 0%;
        }
    }
    .companies_page_filters_mobile{
        display: block;
        width: 100%;
        height: 100vh;
        padding: 30px;
        overflow-y: auto;
        position: fixed;
        background-color: var(--primary-color);
        top: 0px;
        left: 0px;
        z-index: 999;
        animation: left_to_right 0.5s;
    }
}
@media (width <= 500px){
    .companies_page_job_search_form{
        width: 95%;
    }
    .companies_page_job_search_form input{
        font-size: 15px;
        padding: 7px;
    }
    .companies_page_job_search_form input::placeholder{
        font-size: 12px;
    }
    .companies_page_job_search_form_submit{
        width: 28px;
        height: 22px;
        /* top:5%; */
    }
    .companies_page_job_search_form_submit svg{
        font-size: 13px;
    }    
}
@media (width <= 400px){
    .companies_page_slogan{
        font-size: 17px;
        margin-bottom: 30px;
    }
    .companies_page_slogan span{
        font-size: 19px;
    }
    .companies_page_job_search_container{
        height: 60%;
    }
    .companies_page_filter{
        padding: 30px 20px;
    }
    .companies_page_filters_mobile_close{
        font-size: 20px;
    }
}