@import '../../color.css';
.not_found_page_container{
    width: 80%;
    height: 100vh;
    margin: 0px auto;
    /* padding: 40px 0px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.not_found_page_head{
    font-size: 30px;
    text-align: center;
    color: var(--light-text-color);
    font-weight: 500;
}
.not_found_page_image{
    width: 80%;
    max-width: 500px;
    display: block;
    margin: 0px auto;  
    user-select: none;  
}
.not_found_page_back_btn{
    width: 50px;
    text-align: center;
    margin: 0px auto;
    font-size: 25px;
    color: var(--accent-color);
    cursor: pointer;
    text-decoration: underline;
}
.not_found_page_back_btn:hover{
    color: var(--accent-hover);
}
@media (width <= 500px){
    .not_found_page_head{
        font-size: 20px;
    }
}